body {
    font-family: courier New;
    background-color: rgb(4, 67, 39);
    margin-bottom: 5%;

}

.navContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: whitesmoke;
    
    
}

#name {
    font-weight: bolder;
    font-size: 40px;
    float: right;
    color: rgb(4, 67, 39);
    margin-right: 2%;
}

.navbar {
    margin-left: 2%;
    float: left;
    font-size: 40px;
}

.navbar > a {
    text-decoration: none;
    color: rgb(4, 67, 39);
    
}

.content {
    font-size: larger;
    border: solid 2px white;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 100px;
    margin-left: 4%;
    margin-right: 4%;
    color: whitesmoke;
    background-color: rgb(4, 67, 39);
}

.aboutcontent {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 100px;
    margin-left: 4%;
    margin-right: 4%;
    color: whitesmoke;
    background-color: rgb(4, 67, 39);
}

.portfoliocontent {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 100px;
    margin-left: 4%;
    margin-right: 4%;
    color: whitesmoke;
    background-color: rgb(4, 67, 39);
}

nav > a.active {
    font-weight:bold;
    color: rgb(7, 104, 60);
}

.quote {
    font-family: bradley hand;
    font-size: 3rem;
    text-align: center;
    font-weight:bold;
    font-style: italic;
}

.extras {
    margin: 5%;
    color: whitesmoke;
    text-align: center;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:25%; 
}  

h3{
font-weight:bold;
}

.absec {
    border-top: solid 1px white;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 0px;
    margin-left: 2%;
    margin-right: 2%;
    color: whitesmoke;
    background-color: rgb(4, 67, 39);
    overflow: hidden;
}


.psec {
    border: solid 1px white;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    margin-top: 20px;
    margin-left: 4%;
    margin-right: 4%;
    color: whitesmoke;
    background-color: rgb(4, 67, 39);
}

.absec:nth-of-type(odd) > img {
    float: left;
    width: 20%;
    padding-right: 2%;
    padding-bottom: 3%;
}


.absec:nth-of-type(even) > img {
    float: right;
    width: 20%;
    padding-left: 2%;
    padding-bottom: 5%;
 }